// copy to 01_config.ino

#define WIFI_SSID "your_wifi"
#define WIFI_PASS "wifi_pass"
#define VMIX_ADDR "192.168.1.100" // or hostname
#define VMIX_PORT 8099 // default TCP API port
#define TALLY_NR 1 // initial tally number
#define TALLY_NR_MAX 30 // max tally number
